
.button-group {
  position: relative;
  border: 0;
  padding: 0;
  margin: 2rem 0;

  label {
    display: inline-block;
    margin-right: 1rem;
    padding: .5rem;
    border-bottom: 3px solid transparent;

    &:nth-of-type(2) {
      border-bottom: 3px solid var(--blue-light);
    }

    &:nth-of-type(3) {
      border-bottom: 3px dotted var(--blue-light);
    }

    &:has(input[type='radio']:checked) {
      border-bottom-color: white;
    }

    &:hover {
      border-color: white;
    }

    input {
      margin: 0 .5rem 0 0;
    }
  }
}

.timeline {

  h3 {
    margin-top: 2rem;
  }
  
  p {
    border-left: 3px solid white;
    padding-left: 1rem;
    margin: .5rem 0 .5rem 2rem;
    
    &.industry-event {
      border-left: 3px dotted white;
    }
  }
}