.pads {
  background-color: white;
  color: black;
  padding: 2rem;
}

.pad-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 100px);
  }

  button {
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    opacity: .2;
  
    &.on {
      opacity: 1;
      outline: 2px dashed #999;
    }
  }
}

.pad-buttons {
  padding: 1rem 0;

  button {
    margin-right: 1rem;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;

    &:hover {
      background-color: #eee;
    }
  }
}