.container-degrees {
  background-color: white;
  color: black;
  padding: 2rem;

  @media (min-width: 768px) {
    display: flex;
  }

  .degree {
    padding: 1rem 1rem 1rem 0;
    font-size: 1.5rem;

    input {
      padding: .5rem;
      font-size: 1.5rem;
    }
  }
}