.container-degrees {
  display: flex;
  background-color: white;
  color: black;
  padding: 2rem;

  .degree {
    padding: 1rem 1rem 1rem 0;
    font-size: 1.5rem;

    input {
      padding: .5rem;
      font-size: 1.5rem;
    }
  }
}