.navbar {
  padding:  0;
  height: 72px;
  font-family: monospace;
  border-bottom: 1px solid var(--blue-dark);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 2rem;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
  font-family: monospace;

  a {
    position: relative;
    display: block;
    text-decoration: none;
    border: 0;
    color: #333;
    padding: 1rem;

    &:hover {
      color: #666;
    }

  }
}

.navbar-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 0;
  background: transparent;
  height: 72px;
  border-left: 1px solid var(--border);
  padding: 0 1rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}

.nav-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1rem;

  &.active {
    display: flex;
    border-top: 1px solid var(--border);
    box-shadow: 0px 5px 10px var(--border);
  }

  li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid var(--border);
    line-height: 1;

    &.active {
      
      a {
        background-color: #eee;
      }
    }
    
    a {
      display: block;
      padding: 1rem;
      color: #333;
      text-decoration: none;
      
      &:hover {
        background-color: #eee;
      }
    }
  }
}

/* Desktop styles */
@media (min-width: 768px) {

  .navbar-brand {
    font-size: 2.5rem;
    
    a {
      padding: 1rem 2rem;
    }
  }

  .navbar-toggle {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    top: auto;
    left: auto;
    border-left: 1px solid var(--border);

    li {
      border: 0;
      border-right: 1px solid var(--border);

      a {
        border: 0;
        height: 72px;
        line-height: 72px;
        padding: 0 1rem;
      }
    }
  }
  
}