@import url("Vars.css");

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  color: white;
  line-height: 1.6;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header *,
main * {
  transition: all .2s ease-out;
}

a {
  color: white;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

.button {
  border: 0;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: white;
  color: var(--blue-dark);
  text-decoration: none;

  &:hover {
    outline: 3px solid var(--blue-dark);
    text-decoration: underline;
  }
}

p {
  margin: 0 0 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.sr-only {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 0;

  &::after,
  &::before {
    text-indent: 9999px;
  }
}

.container {
  max-width: 1030px;
  margin: auto;
  padding: 1rem;

  @media (min-width: 768px) {
    padding: 1rem 4rem;
  }
}

main {
  .container {
    padding: 1rem;

    @media (min-width: 768px) {
      padding: 5rem 4rem;
    }
  }
}

.page404 {
  padding: 2rem;
  margin: 2rem;
  font-family: monospace;
  border: 1px solid var(--border);
  box-shadow: 0px 0px 12px var(--border);
  display: inline-block;
  text-align: center;
}

h1,
h2 {
  font-weight: 500;
  margin: 0 0 1rem;
  line-height: 1;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 2rem;

  span {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    padding-top: .5rem;

    @media (min-width: 768px) {
      display: inline;
    }
  }
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 1.1rem;
}



.intro {
  margin-bottom: 5rem;
}

.key-strengths {
  margin-bottom: 5rem;
}

.key-strengths-items {
  

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
  }

  h3 {
    margin: 0 0 1rem;
  }
}
