
.form-add-ingredient {
  display: flex;
  padding: 1rem 0;

  input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
  }

  button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 5px;

    &::before {
      content: '+ ';
    }
 
  }

}
.card {
  border: 5px solid #eee;
  padding: 2rem;


  button {
    img {
      max-width: 20px;
    }
  }
 }

 form {
  padding: 1rem;

  div {
    margin-bottom: 1rem;
  }
  label {
    display: block;
  }
 }
 
.main-body {
  padding: 1rem 0;

  h2 {
    margin: 0;
  }
}
 .get-recipe-container {
  background-color: #eee;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background-color: blueviolet;
    color: white;
    border: 0;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
  }

  h3 {
    margin: 0;;
  }
 }
 .show-recipe {
  padding: 2rem;
}